# Gmail Configuration for Contact Form (Nodemailer)
# Use your Gmail address and generate an App Password
GMAIL_USER=aamansurushe@gmail.com
GMAIL_APP_PASSWORD=agklcsczdxoslite

# Google Analytics Tracking ID (optional)
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Password for protected pages/routes (optional)
PAGE_ACCESS_PASSWORD=password

# Discord Webhook URL for Contact Form Notifications (optional)
# Create a webhook in your Discord server and paste the URL here
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1420744819487146057/cIH4qulu2x3nuyHXUe5Pcx0ICyKI6x9FYKD29mq9uaapiIuXFAnwy8alO9IZs3bGRI8I
